@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #11071F;
	overflow-x: hidden;
}
body, body * {
  font-family: 'Preahvihear', sans-serif;
  color: #ffffff;
}
.container{
  margin: 0 auto;
  width: 80%;
}
@media screen and (max-width: 576px) {
	.container{
  		width: 90%;
	}
}
@media screen and (min-width: 480px) {
	.container{
  		width: 90%;
	}
}
@media screen and (min-width: 700px) {
	.container {
		width: 80%;
	}
}

@media screen and (min-width: 1100px) {
	.container{
  		width: 74%;
	}
}
@media screen and (min-width: 1440px) {
	.container{
  		width: 1100px;
	}
}


.hero__image {
	transform: translate(20%, 40%);
}
.hero__image-shadow {
	background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 17.71%, rgba(67, 67, 67, 0) 100%);
	width: 258px;
	height: 258px;
	border-radius: 100%;
	transform: translate(-6%, 32%);
	z-index: -1;
	opacity: .4;
}
.hero__image-shadow2 {
	background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
	width: 385px;
	height: 432px;
	border-radius: 100%;
	transform: translate(-20%, 0);
	z-index: -1;
	opacity: .5;
}
.hero__name {
	position: absolute;
	right: -60px;
	top: 0%;
}
.hero__name-icon {
	width: 100px;
	position: absolute;
	margin-left: -80px;
}
.project__text-bg {
	background: radial-gradient(90.16% 143.01% at 15.32% 21.04%, rgba(105, 59, 147, 0.2) 0%, rgba(110, 191, 244, 0.0447917) 77.08%, rgba(70, 144, 213, 0.3) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
	background-blend-mode: overlay, normal;
	backdrop-filter: blur(40px);
	/* Note: backdrop-filter has minimal browser support */
	
	border-radius: 14px;
}

@media only screen and (max-width: 768px) {
	.project__text-bg {width: 100%!important;}
}
@media only screen and (max-width: 350px) {
	.project__image {height: 220px!important;}
}

.project__image-bg {
	position: absolute;
	width: 432px;
	height: 441px;
	transform: translate(5%, -20%);
	z-index: -1;
	border-radius: 100%;
	background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
}
@media only screen and (max-width: 500px) {
	.project__image-bg {
		display: none;
	}
}

@keyframes light {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.light {
	animation-name: light;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}